.align{
    display: flex;
    
  }
  .container{
    display: flex;
  }

  
.side-panel {
    background-color: #fafafa;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.options a {
    display: block;
    text-decoration: none;
    color: #777;
    margin-top: 20px;
}

.main-content {
    padding: 20px;
}


.card {
    width: 230px;
    height: 280px;
    border-radius: 2em;
    padding: auto;
    background-color: #191919;
    box-shadow: 5px 5px 30px rgb(4, 4, 4),
                     -5px -5px 30px rgb(57, 57, 57);
    margin: 38px;
  }
  
  .profileimage {
    background-color: transparent;
    border: none;
    margin-top: 20px;
    border-radius: 5em;
    width: 100px;
    height: 100px;
  }
  
  .pfp {
    border-radius: 35em;
    fill: white;
  }
  
  .Name {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .socialbar {
    background-color: #191919;
    border-radius: 3em;
    width: 90%;
    padding: 14px;
    margin-top: 15px;
    color: white;
    box-shadow: 3px 3px 15px rgb(0, 0, 0),
                     -3px -3px 15px rgb(58, 58, 58);
  }
  
  .card a {
    transition: 0.4s;
    color: white
  }
  
  #github:hover {
    color: #c9510c;
  }
  
  #instagram:hover {
    color: #d62976;
  }
  
  #facebook:hover {
    color: #3b5998;
  }
  
  #twitter:hover {
    color: #00acee;
  }